@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  list-style: none outside none;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  color: var(--neutral-blue);
}

:root {
  --white: hsl(0, 0%, 100%);
  --primary-pale-blue: hsl(225, 100%, 94%);
  --primary-bright-blue: hsl(245, 75%, 52%);
  --neutral-pale-blue: hsl(225, 100%, 98%);
  --neutral-blue: hsl(224, 23%, 55%);
  --neutral-dark-blue: hsl(223, 47%, 23%);
  --shadow: rgb(183, 191, 241);
  --card-shadow: 0px 20px 50px -7px var(--shadow);
  --card-radius: 1.25rem;
  --card-radius-elements: 0.75rem;
  --button-shadow: 0px 10px 11px 1px var(--shadow);
}

body {
  background-image: url("./images/pattern-background-mobile.svg");
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: var(--primary-pale-blue);
}

@media only screen and (min-width: 475px) {
  body {
    background-image: url("./images/pattern-background-desktop.svg");
  }
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h3,
h4 {
  color: var(--neutral-dark-blue);
}

h3 {
  font-size: 1.2rem;
  font-weight: 900;
}

button {
  text-align: center;
  padding: 1rem;
  font-weight: 700;
}

p {
  line-height: 1.75rem;
  font-weight: 500;
}